/* Your existing CSS */

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.background {
    background-image: url('img1.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side img {
    max-width: 100%;
    height: auto;
}

.right-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 30px;
    font-size: 26px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: #4d1933;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #c6538c;
}

button:active {
    background-color: #c6538c;
}
