body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.background {
    background-image: url('img1.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: center;
    align-items: center;
    text-align: center; /* Align text center */
}

h1 {
    color: #ebe3e0;
    margin-bottom: 20px;
    font-size: 26px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}
